# Rename this to .botrc and fill in missing values to get started.

# IRC adapter

export HUBOT_IRC_SERVER=irc.dalnet.com
export HUBOT_IRC_ROOMS="#~s"
export HUBOT_IRC_NICK=PushBot
export HUBOT_IRC_UNFLOOD=1

# GTalk adapter

export HUBOT_GTALK_USERNAME=heretoprotectus@gmail.com
export HUBOT_GTALK_PASSWORD=

# Slack adapter

export HUBOT_SLACK_TOKEN=
export HUBOT_SLACK_TEAM=tilde-s
export HUBOT_SLACK_BOTNAME=PushBot
export HUBOT_SLACK_LINK_NAMES=1

# hubot-markov

export HUBOT_MARKOV_LEARN_MIN=2
export HUBOT_MARKOV_GENERATE_MAX=100

# hubot-greetings

export HUBOT_GREETINGS_FFA=1

# hubot-quotefile

export HUBOT_QUOTEFILE_PATH=

# mapping

export HUBOT_MAPPING_DATAROOT=botdata/
